.slide-content{
    position: relative;
    .slide-overlay{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
}
.desk-hidden{
    display: none !important;
} 
@media(max-width: 767px){
    .mob-hidden{
        display: none !important;
    }
    .desk-hidden{
        display: block !important;
    }
}